* {
  font-family: "Roboto Mono", monospace;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #212529;
}

.navbar-toggler {
  border-color: #f8f9fa;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28248, 249, 250, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.card-img-top {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.carousel-control-prev {
  justify-content: left;
}

.carousel-control-next {
  justify-content: right;
}

.form-check-input:checked {
  background-color: #212529;
  border-color: #212529;
}

footer {
  color: #f8f9fa;
}
